---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Snake">
<div class="flex justify-center">
    <img class=" w-1/3" src="https://s1.eestatic.com/2018/05/16/elandroidelibre/el_androide_libre_307735614_179783480_1706x960.jpg"/>
</div>
</Layout>