---
import  TypeRacerComp   from "../../components/games/typeracer/typeracer.jsx";
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Snake">
<div class="flex justify-center">
    <!-- <img class=" w-1/3" src="https://data.typeracer.com/public/images/tr_logo_200.cache.png"/> -->
    <TypeRacerComp client:visible/>
</div>
</Layout>